.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.tasks_div {
  margin-top: 3%;
}

.category {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-left: 10%;
  margin-top: 2%;
  margin-bottom: 2%;
}

.option {
  margin-top: 2%;
  padding-left: 1%;
  height: 40px;
  font-size: medium;
}
.center {
  align-items: center;
}
.btn {
  width: 100px;
  height: 40px;
  background-color: #309e20;
  border: 1px solid #309e20;
  border-radius: 10px;
  color: white;
}

.task_div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  align-content: space-around;
  width: 60%;
  margin-left: 20%;
  padding-left: 2%;
  border: 2px solid black;
  border-radius: 20px;
  margin-bottom: 2%;
  box-shadow: 5px 5px #888888;
}

.forEach {
    display: flex;
    margin-bottom: 2%;
    width: 80%;
}

.final_result {
  font-size: 400%;
  display: flex;
  justify-content: center;
}

.none {
  display: none;
}